* {
	margin: 0;
	padding: 0;
	position: relative;
	box-sizing: border-box;
}

html,
body {
	height: 100dvh;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
	scrollbar-width: auto;
	scrollbar-color: #64748b #334155;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
	width: 10px;
}

*::-webkit-scrollbar-track {
	background: #334155;
	/* background: #334155; */
}

*::-webkit-scrollbar-thumb {
	background-color: #1e293b;
	border-radius: 10px;
	border: 0px none #ffffff;
}
